$text-color: #f5f5f5;
$background-color: #3a3a3f;
$question-color: rgb(135, 206, 235);
$answer-color: rgb(216, 112, 147);

.about {
  background-color: $background-color;

  .pageAbout {
    color: $text-color;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0%;
    font-size: 30px;
  }

  .container {
    padding: 20px 20px 0px 20px;
    .tableItem {
      font-size: 16px;
      color: $text-color;
    }
    .headline {
      font-size: 18px;
    }

    .queAndAns {
      margin: 0px 100px 0px 100px;
      padding: 30px 0 30px 0;

      .question {
        p {
          color: $text-color;
        }
        p:first-letter {
          color: $question-color;
          font-size: 30px;
        }
      }
      .answer {
        
        p {
          color: $text-color;
          border-bottom: 1px solid $text-color;
        }
        p:first-letter {
          color: $answer-color;
          font-size: 30px;
        }
      }

      .openButton {
        background-color: $text-color;
        color: $background-color;
        font-size: 15px;
        padding: 3px 10px;
        margin-bottom: 6px;
      }
    }  
  }
}

.modal{
  background-color: $background-color;
  margin: 100px 50px 0px 50px;
  padding: 5px 30px 20px 30px;
  border-radius: 15px;
  border-style: none;
  .winTitle{
    p{
      color: $answer-color;
      font-size: 30px;
    }
  }
  .winContext{
    margin-bottom: 20px;
    p{
      color: $text-color;
    }
  }
  .closeButton{
    margin-bottom: 10px;
  }
}
  
@media screen and (max-width: 1020px) {
  .about {
    .container {
      margin: 20px 10px 15px 10px;
      padding: 10px 10px 0px 10px;
      .queAndAns {
        margin: 0px 5px 0px 5px;
        padding: 30px 0 50px 0;
      }
    }
  }
  .modal{
    margin: 100px 20px 0px 20px;
    padding: 5px 20px 20px 20px;
  } 
}

@media screen and (max-width: 479px) {
  .about {
    .pageAbout {
      padding-top: 20px;
      margin-top: 40px;
      p {
        color: $text-color;
      }
    }

    .container {
      margin: 0px;
      padding: 0 10px 0 10px;
      .queAndAns {
        margin: 0px 5px 0px 5px;
        padding: 30px 0 50px 0;
      } 
    }
  }
  .modal{
    margin: 100px 20px 0px 20px;
    padding: 5px 20px 20px 20px;
  } 
}
