.blogMsg {
  background: white;
  text-align: center;
  width: 45%;
}
.blogMsg p {
  color: #161616;
  font-size: 20px;
  position: relative;
  top: 30%;
}

.blogImg {
  width: 55%;
}

@media screen and (min-width: 381px) {
  .flexbox {
    margin-top: 5%;
    -webkit-display: flex;
    display: flex;
  }
  .blog {
    margin: 0;
    -webkit-flex: 2;
    flex: 2;
  }
  .blogMsg {
    -webkit-flex: 1;
    flex: 1;
  }
  .blank {
    height: 70px;
  }
}
@media screen and (max-width: 1020px) {
  .blank {
    height: 110px;
  }
}

@media screen and (max-width: 767px) {
  .blank {
    height: 110px;
  }
}

@media screen and (max-width: 479px) {
  .blank {
    height: 110px;
  }
}
