$text-color: #f5f5f5;
$background-color: #3a3a3f;

.history {
  background-color: $background-color;

  .titleHistory {
    color: $text-color;
    font-size: 30px;
    padding-top: 70px;
    text-align: center;
  }
  .titleFuture {
    color: $text-color;
    font-size: 18px;
    text-align: center;
  }
  .futureList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    .futureItem{
      display: flex;
      margin: 10px 0px;
      .futureIcon{
        color: $text-color;
        font-size: 30px;
      }
      p{
        margin-top: 5px;
        margin-left: 8px;
        color: $text-color;
      }
    }
  }
  
  .timeline {
    background-color: $background-color;

    .vertical-timeline-element-date {
      color: white;
    }
  }
}

@media screen and (max-width: 1200px) {
  .history {
    .timeline {
      background-color: $background-color;

      .vertical-timeline-element-date {
        color: $background-color;
      }
    }
    .futureList{
      margin: 0px 35px 25px 35px;
    }
  }
}

@media screen and (max-width: 479px) {
  .history {
    .titleHistory {
      position: relative;
      left: 32%;
      padding-top: 52px;
      width: 38%;
      font-size: 35px;
    }
    .timeline {
      background-color: $background-color;

      .vertical-timeline-element-date {
        color: $background-color;
      }
    }
    .futureList{
      margin: 0px 10px 25px 10px;
    }
  }
}
