$icon-color: #3a3a3f;

.btn-menu{
    display: none;
}
.tabs{
    display: block;
}

.menu-icon, .close-icon{
    margin-top: 8px;
    margin-bottom: 8px;
}
.menu-item-icon{
    color: $icon-color;
    margin-right: 12px;
}

@media screen and (max-width: 1020px) {
    .tabs{
        display: none;
    }
    .btn-menu{
        display: block;
    }
    .menu-icon, .close-icon{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .btn{
        text-align: right;
    }
  }