$text-color: #f5f5f5;
$background-color: #3a3a3f;
$mysql-icon-color: skyblue;

.skill,
.content {
  background-color: $background-color;
}
.skill {
  padding-bottom: 20px;

  .container {
    margin: 0px 40px 0px 40px;
    padding-left: 0;
    padding-bottom: 30px;

    .pageSkill {
      color: $text-color;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 10px;
      font-size: 30px;
    }

    .card {
      border: solid 2px $text-color;
      background-color: $background-color;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
      padding: 0px;
      margin-right: auto;

      .cardTitle {
        border-bottom: solid 3px $text-color;
        background-color: $background-color;
        color: $text-color;
      }

      .desc {
        color: $text-color;
        background-color: $background-color;
      }

      .skillIcon {
        font-size: 6rem;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 15px;
        background-color: $background-color;
      }

      .rails-color{
        color: #f73d30;
      }

      .c-color{
        color: #306ff7;
      }

      .devicon-express-original,
      .devicon-github-original {
        color: $text-color;
      }

      .devicon-mysql-plain {
        color: $mysql-icon-color;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .skill {
    padding-bottom: 40px;
    .container {
      margin: 0px 25px;
      .pageSkill {
        color: $text-color;
        position: relative;
        left: 30%;
        padding: 45px 0 5px 0;
        width: 38%;
        padding-left: 0;
      }
      .pageSkill p {
        color: $text-color;
      }
      .MuiGrid-item {
        padding: 16px 35px;
      }
      .card {
        .content {
          padding-top: 0;
          padding-bottom: 10;
        }
        .skillIcon {
          margin-top: 15px;
        }
      }
    }
  }
}
