$text-color: #f5f5f5;
$background-color: #3a3a3f;

.product,
.content {
  background-color: $background-color;
  margin-bottom: 8px;

  .techs{
    height: 40px;
    display: flex;
    justify-content: flex-start;

    .skillIcon {
      font-size: 2.4rem;
      background-color: $background-color;
      margin-right: 10px;
      margin-top: 10px;
    }

    .devicon-redux-original{
      color: #9204c2e3;
    }

    .devicon-kotlin-plain{
      color: #bd08ffd0;
    }
  }

  .productTitle{
    display: flex;
    border-bottom: solid 3px $text-color;
    height: 30px;
    margin-bottom: 20px;

    .cardTitle{
      text-align: left;
      margin-left: 2px;
      color: #f5f5f5;
    }

    .linkIcon{
      margin-left: auto;
      color: #f5f5f5;
      margin-right: 5px;
      margin-top: 2px;
    }

    .blogIcon{
      margin-top: 4px;
    }
  }
}
.product {
  padding-bottom: 20px;

  .container {
    margin: 0px 40px 0px 40px;
    padding-left: 0;
    padding-bottom: 30px;

    .pageProduct {
      color: $text-color;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 10px;
      font-size: 30px;
    }

    .card {
      border: solid 2px $text-color;
      background-color: $background-color;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
      padding: 0px;
      margin-right: auto;

      .cardImg{
        width: 240;
        height: 170;
      }

      .cardTitle {
        background-color: $background-color;
        color: $text-color;
        font-size: 16px;
      }

      .desc {
        color: $text-color;
        margin-left: 2px;
        background-color: $background-color;
      }
    }
  }
  .bottomMsg{
    color: $text-color;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 479px) {
  .product {
    padding-bottom: 40px;

    .container {
      margin: 0px 25px;

      .pageProduct {
        color: $text-color;
        position: relative;
        left: 30%;
        padding: 45px 0 5px 0;
        width: 38%;
        padding-left: 0;
      }

      .pageProduct p {
        color: $text-color;
      }

      .MuiGrid-item {
        padding: 16px 35px;
      }

      .card {
        .content {
          padding-top: 0;
          padding-bottom: 10;

          .productTitle{
            margin-top: 7px;
          }

          .techs{
            justify-content: center;
            
            .skillIcon{
              margin-right: 10px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
